* text=auto
# Visual Studio expects CRLF in its project files.
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.wapproj text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.appxmanifest text eol=crlf
*.png binary
*.ico binary
